@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Light.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-LightItalic.woff2);
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Italic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Medium.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-MediumItalic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Bold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-BoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Black.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-BlackItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 12px;
    font-family: GothamPro, sans-serif;
    line-height: 1.6;
    color: #424242;
}

picture {
    display: block;
}

/* Header Placeholder */
header {
    min-height: 40px;
    margin: 0 0px 12px 12px;
}

/* Home Hero */

.home-hero {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    margin-bottom: 12px;
}

.home-hero img {
    width: 100%;
    display: block;
}

/* Start Paste */

.home-hero h1 {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.home-hero > div:last-child > div:first-of-type {
    width: auto;
    padding: 24px 12px 24px 24px;
    height: auto;
    background: #EFEFEF;
    flex: 1 1 70%;
}

.home-hero > div:last-child {
    display: flex;
    position: relative;
}

.home-hero > div:last-child > div:last-of-type {
    background: rgba(0,0,0,.3);
    border-radius: 0;
    flex: 1 1 30%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-hero > div:last-child > div:last-of-type > a {
    width: 82px;
    padding-top: 88px;
}

.home-hero > div:last-child > div:first-of-type:before {
    content: '';
    width: 160px;
    height: 153px;
    left: 0;
    top: -60px;
    display: block;
    position: absolute;
    background: url(/img/blob-home-hero.svg) no-repeat;
    opacity: 60%;
}

/* End Paste */

.home-hero > div:last-child > div > p {
    margin: 0;
}

.home-hero > div:last-child > div:last-of-type > a {
    width: 106px;
    height: 140px;
    display: block;
    background: url(/img/arrow-learn-more.svg) no-repeat;
    text-align: center;
    color: #FFF;
    font-weight: 700;
    text-decoration: none;
    padding-top: 116px;
}

@media only screen and (min-width: 600px) {
    body {
        margin: 24px;
    }

    .home-hero {
        margin-bottom: 24px;
    }

    .home-hero h1 {
        font-size: 60px;
    }

    .home-hero > div:last-child {
        position: absolute;
        top: 50%;
    }

    .home-hero > div:last-child > div:first-of-type {
        background: #FFF;
        width: 620px;
        height: 200px;
        display: flex;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 48px 0 144px;
        flex: unset;
    }

    .home-hero > div:last-child > div:first-of-type:before {
        content: '';
        display: block;
        width: 280px;
        height: 296px;
        position: absolute;
        background: url(/img/blob-home-hero.svg) no-repeat;
        opacity: 60%;
        left: 48px;
        top: -142px;
    }

    /* CTA Section */
    .home-hero > div:last-child > div:last-of-type {
        background-color: rgba(255, 255, 255, .9);
        border-radius: 0 12px 12px 0;
        width: 200px;
        flex: unset;
    }
    
    @supports ((backdrop-filter: blur(2em))) {
        .home-hero > div:last-child > div:last-of-type {
            background-color: rgba(255, 255, 255, .11);
            backdrop-filter: blur(2em);
        }
    }
}