@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Light.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-LightItalic.woff2);
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
  
@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro.woff2) format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Italic.woff2) format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Medium.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-MediumItalic.woff2) format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Bold.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-BoldItalic.woff2) format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-Black.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: GothamPro;
    src: url(/fonts/GothamPro-BlackItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

/* General Styles */
* {
    box-sizing: border-box;
}

body {
    margin: 24px;
    font-family: GothamPro, sans-serif;
    line-height: 1.6;
    color: #424242;
}

/* Home Hero */

.home-hero {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.home-hero img {
    width: 100%;
    display: block;
}

picture {
    display: block;
}

.home-hero > div:last-child {
    position: absolute;
    top: 50%;
    display: flex;
}

.home-hero > div:last-child > div:first-of-type {
    background: #FFF;
    width: 580px;
    height: 180px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 0 48px;
}

.home-hero h1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
}

.home-hero > div:last-child > div > p {
    margin: 0;
}

.home-hero > div:last-child > div:last-of-type {
    background-color: rgba(255, 255, 255, .5);
    backdrop-filter: blur(2em);
    border-radius: 0 12px 12px 0;
}

.home-hero > div:last-child > div:last-of-type {
  background-color: rgba(255, 255, 255, .9);
  border-radius: 0 12px 12px 0;
}

@supports ((backdrop-filter: blur(2em))) {
    .home-hero > div:last-child > div:last-of-type {
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(2em);
    }
}