header {
    margin: 0 24px 24px 24px;
}

/* Home Logo */
nav > p > a {
    display: block;
    background: url(/img/eu-logo.svg) no-repeat;
    overflow: hidden;
    height: 40px;
    padding: 1px 0px 0px 58px;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    width: 160px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav p {
    margin: 0;
}

nav a {
    color: #424242;
    text-decoration: none;
}

nav > ul > li > a {
    line-height: 40px;
    display: block;
    position: relative;
}

nav > ul > li > a.is-Active:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #B70462;
}

nav > ul > li > ul.is-Active {
    display: block;
    position: absolute;
    left: -24px;
    z-index: 100;
    background: rgba(255,255,255,0.9);
    width: 240px;
    top: 64px;
    padding: 12px 24px 12px 0;
    border-radius: 0 0 12px 12px;
}

nav > ul > li:nth-child(4) > ul.is-Active {
    right: 0;
    left: unset;
}

nav > ul > li > ul > li > a {
    line-height: 32px;
}

nav > ul > li > ul {
    display: none;
}

nav > ul > li:first-of-type {
    display: none;
}

nav ul > li {
    margin: 0 0 0 24px;
    position: relative;
}

/* CTA */
nav > ul > li:last-of-type > a {
    border: 3px solid #B70462;
    border-radius: 12px;
    padding: 0 16px;
    color: #B70462;
    line-height: 34px;
}