@import url('../social/social.css');

footer {
    background: #292929;
    color: #d5d5d5;
    padding: 50px 0;
    border-radius: 12px;
}

footer nav {
    max-width: 83.4%;
    margin: 0 auto;
    display: grid;
    grid-gap: 24px;
}

footer p {
    margin: 0;
}

footer a {
    color: #d5d5d5;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer h4 {
    margin: 0;
}

footer #equality-at-work a {
    background: url(/img/bel-logo.svg);
    width: 100px;
    height: 100px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {
    footer nav {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media only screen and (min-width: 1440px) {
    footer nav {
        max-width: 1200px;
    }
}